body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	color: #fff;
	text-align: left;
	background-color: #121212;
}

.container {
	display: flex;
	align-content: center;
	justify-content: center;
}

.wrapper {
	width: 600px;
	margin: 10px;
	height: 100vh;
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 2px;
	flex-wrap: wrap;
	background-color: #121212;
}

.box {
	width: 150px;
	margin: 6px;
	box-sizing: border-box;
	flex-grow: 1;
	padding: 15px;
}

h1 {
	font-size: 100%;
}

p {
	font-size: 80%;
	color: #757575;
	align-content: center;
}

/* hr {
	width: 40px;
	border: none;
	height: 1px;
	background-color: #757575;
	margin-left: 0px;
} */

i {
	margin: 0px;
	background: -webkit-gradient(linear, left top, right bottom, from(#802775), to(#dc071d));
	
	-webkit-text-fill-color: transparent;
	display: initial;
}



 body .box2 .hover h1 {
	 color: #fff;
	 font-size: 1.8em;
	 text-transform: uppercase;
	 font-family: "Patua One", cursive;
} 

 body .box {
	 position: relative;
	 max-height: 255px;
	 height: 255px;
	 background-color: #eee;
	 display: flex;
	 align-content: center;
	 justify-content: center;
	 overflow: hidden;
}

 body .box .content-hover {
	 transform: scale(0, 0);
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 background-color: #252525;
	 transition: all 0.2s ease-in-out;
	 display: flex;
	 justify-content: center;
	 flex-flow: column;
	 padding: 2em 2em;
	 border-radius: 5%;
}
 body .box .content-hover h1 {
	 color: #fff;
	 font-size: 1.5em;
	 text-transform: uppercase;
	 font-family: "Patua One", cursive;
	 font-style: italic;
}
 body .box .content-hover p {
	 color: #fff;
}
 body .box .content {
	 display: flex;
	 justify-content: center;
	 flex-flow: column;
}
 /* body .box .content p {
	 font-size: 1.2em;
	 font-weight: 600;
	 text-transform: uppercase;
	 margin-top: -2em;
} */
 body .box:hover > .content-hover, body .box:hover > .content-hover2 {
	 transform: scale(1, 1);
	 cursor: pointer;
}
 